* {
    box-sizing: border-box;
}



body {
    margin: 0;
    font-family: "Poppins", sans-serif;
}

header {
    height: 50px;
}

.nav-bar {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-left: 50px;
    width: 100px;
}

.menu {
    margin-right: 50px;
}

.menu-links {
    display: flex;
    text-decoration: none;
    color: #8a89a9;
    gap: 20px;
}

.links-container{
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer-nav {
    margin: 60px;
    display: flex;
    gap: 100px;
}

.menu-column {
    flex-direction: column;
    display: flex;
    justify-content: center;
    gap: 5px;
    margin: 0;
    padding: 0;
}

.menu-column li {
    list-style: none;
}



.menu li {
    list-style: none;
}

.login-button {
    text-decoration: none;
    color: #fefeff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 20px;
    display: block;
    background-color: #4A3AFF;
    border-radius: 10px;
}

#check {
    display: none;
}

.close-menu {
    display: none;
}

.open-menu {
    display: none;
    margin-right: 20px;
}

main {
    background-color: #fafafc;
}

.main-section {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20%;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-title {
    font-size: 80px;
    max-width: 600px;
}

.main-decription {
    font-size: 35px;
    margin-bottom: 2px;
}

.message-users-count {
    font-weight: 600;
    font-size: 40px;
    display: block;
    color: blue;
    text-align: center;
    margin-top: 0px;
}

.main-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.main-image {
    height: 50%;
}

/* image section */

.images-section {
    position: relative;
    width: 100%;
    height: 70vh;
    background-color: #4a3aff;
    display: flex;
    justify-content: center;
    gap: 5%;
}

.card-title {
    font-weight: 600;
    font-size: 35px;

}

.card-1 {
    margin-top: 15%;
    width: 450px;
    height: 500px;
    background-color: #dbedf5;
    border-radius: 5px;
    padding: 0px 50px;
}

.card-2 {
    margin-top: 10%;
    width: 450px;
    height: 500px;
    background-color: #102f2e;
    color: white;
    border-radius: 5px;
    padding: 0px 50px;
}

.card-3 {
    margin-top: 5%;
    width: 450px;
    height: 500px;
    background-color: #fef1e2;
    border-radius: 5px;
    padding: 0px 50px;
}

.image-card-container {
    margin-top: 50px;
    margin-left: 50px;
}

.image-card {
    width: 300px;
    height: auto;
}

/* article-section */
.article-section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    text-align: center;
}

.article-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

.article-details {
    margin-left: 80px;
    font-size: 20px;
}

.article-title {
    text-align: left;
    font-weight: 100;
    font-size: 40px;
    align-items: center;
}

.arcticle-description {
    text-align: left;
    font-size: 30px;
}

.article-images-container {
    display: grid;

    grid-template-columns: repeat(3, 140px);
    grid-template-rows: repeat(3, 60px);
    gap: 50px;
}

.article-images-small {
    width: 100%;
    height: 100%;
    border: 1px solid #bababa;
}

.article-main-image {
    width: 450px;
    display: flex;
    flex-direction: column;
}

.article-image-caption {
    width: 100%;
    font-size: 15px;
    border: 1px solid #bababa;
    border-top: 0;
    padding: 30px 30px 50px 30px;
}

.article-image-caption p {
    text-align: left;
    color: #424242;
}

.article-image-caption h5 {
    font-size: 20px;
    text-align: left;
}

.article-image {
    width: 450px;
    border: 1px solid #bababa;
}

.footer-main {
    background-color: white;
}


/* footer */

.footer {
    margin: 60px;
    flex-direction: column;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.footer-container {
    border-top: 1px solid #bababa;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-between;
}

.social-media {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-right: 5%;
}

.icons {
    text-decoration: none;
    width: 50px;
    height: 50px;
    color: black;
    background-color: #FEF1E2;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright {
    font-size: 15px;
    display: flex;
    align-items: center;
    gap: 2px;
    margin-left: 5%;
}

@media screen and (max-width: 600px) {

    .body{
        width: 100%;
    }
    /* header */
    header {
        height: 50px;
        /* margin-bottom: 0; */
    }

    .nav-var {
        display: flex;
        justify-content: space-between;
    }

    .checkbox:checked ~ .menu {
        display: block;
    }

    .checkbox:checked ~ .open-menu{
        display: none;
    }

    .menu {
        display: none;
        position: absolute;
        top: 10px;
        right: 0;
        margin: 0;
    }

    .links-container {
        background-color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid #d7d5e5;
        margin-top: 10px;
        width: 250px;
        height: 250px;
        gap: 0;
    }

    .menu-links{
        padding-left: 40px;
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0;
        color: #8683a6;
        gap: 0;
    }


    .menu li {
        margin-bottom: 0;
        width: 100%;
        height: 40px;
        /* margin-left: 40px;
        list-style: none;
        margin-top: 15px; */
    }

    .links-container li:hover{
        background-color: #f9f9ff;
    }

    .logo {
        margin-left: 5px;
        text-decoration: none;
    }

    .menu a {
        text-align: center;
        text-decoration: none;
    }

    .open-menu,
    .close-menu {
        display: block;
    }

    .open-menu{
        margin-right: 30px;
    }

    .close-menu{
        background-color: #fff;
        text-align: end;
        margin-right: 25px;
        font-size: 25px;
    }

    .login-button {
        border-radius: 25px;
        margin-top: 10px;
        width: 200px;
        height: 40px;
        display: flex;
        justify-content: center;
        text-align: center;
        color: #fff;
    }

    body {
        display: block;
    }

    /* main */


    /* main section */

    .main-section {
        flex-direction: column;
        gap: 0;
        width: 100%;
       
    }

    .main-title {
        /* text-align: center; */
        font-size: 50px;
        margin-left: 30px;
        margin-top: 0;
        margin-bottom: 0;
    }

    .main-decription {
        font-size: 25px;
        margin-left: 30px;
    }

    .main-image-container {
        width: 90%;
        height: 400px;
        margin-top: 50px;
    }

    .main-image {
        width: 100%;
        height: 100%;
    }


    /* image section */

    .images-section {
        width: 100%;
        /* overflow: auto; */
        height: auto;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .card-1 {
        margin-top:  10px;
        width: 70%;
        height: auto;
    }

    .card-2 {
        margin-top: 0;
        width: 70%;
        height: auto;
    }

    .card-3 {
        margin-top: 0;
        margin-bottom: 10px;
        width: 70%;
        height: auto;
    }

    .image-card-container{
        margin-top: 10px;
        margin-left: 0;
    }

    .image-card {
        width: 200px;
        height: auto;
    }


    /* article section */

    .article-section {
        height: auto;
        margin: 0;
        width: 100%;
    }

    .article-container {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .article-details {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 0;
    }

    .article-details div {
        width: 90%;
        padding: 20px;
        /* margin-left: 20px; */
    }

    .article-title {
        width: 90%;
    }

    .arcticle-description{
        width: 90%;
    }

    .article-images-container {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(2, 140px);
        grid-template-rows: repeat(3, 60px);
        gap: 50px;
    }

 .article-main-image{
    justify-content: center;
        align-items: center;
    }

    .article-image{
        width: 80%;
    }

    .article-image-caption{
        width: 80%;
        height: 250px;
    } 



    /* footer */

    .footer {
        height: auto;
        width: 100%;
        margin: 0;
    }

    .footer-nav {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .footer-container {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 30px;
    }

    .social-media {
        justify-content: center;
    }

    .social-media p{
        display: none;
    }

}